<div class="container-fluid">
    <div class="container col-lg-12">
        <div class="container col-lg-12">
            <mdb-card>
                <mdb-card-header class="bg-dark text-center text-info"><img src="../../assets/images/circular.png" alt=""> Circulars</mdb-card-header>
                <mdb-card-body class="bg-light custom-scrollbar-css" style="max-height:340px">
                    <ul class="nav nav-tabs mx-auto">
                        <li class="active mx-auto"><a class="nav-link text-warning bg-dark text-center" href="#college" data-toggle="tab"><img src="../../assets/images/college.png" alt=""> COLLEGE</a></li>
                        <li class="mx-auto"><a class="nav-link text-warning bg-dark text-center" href="#department" data-toggle="tab"><img src="../../assets/images/dept.png" alt=""> DEPARTMENT</a></li>
                        <li class="mx-auto"><a class="nav-link text-warning bg-dark text-center" href="#events" data-toggle="tab"><img src="../../assets/images/events.png" alt=""> EVENTS</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="college">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">St. Joseph's Institute of Technology is a higher education institution in OMR, Chennai, India, established in the year 2011, with 5 UG courses (B.E. - CSE, ECE, EEE & Mech. Engg. & B.Tech. IT) with the notion of providing state-of-the-art educational experience. B.E. Civil Engg. is offered from the year 2014 and M. E. Communication and Networking is offered from 2019.</li>
                                <li class="list-group-item">Our college is affiliated to the Anna University and approved by AICTE. The courses offered from the inception (B.E. - CSE, ECE, EEE & Mech. Engg. & B.Tech. IT) have been accredited by NBA in 2017 in the shortest span of 6 years since inception, which ascertains our quality.</li>
                                <li class="list-group-item">St. Joseph's has always strived not only to meet the demands of the rapidly evolving tech-world, but also to create an environment where innovation and change is nurtured, resulting in a technically thriving society.</li> 
                                <li class="list-group-item">Spreading over a total area of 34 acres and Total built-up area of over 11.72,500 Sq. Ft., our campus has been designed to fulfill the needs and expectations of engineering students.</li>
                                <li class="list-group-item">The college boasts of a splendid infrastructure with state-of-the-art Classrooms, Library, Book bank, Laboratories, Workshops and Exam Halls, Sophisticated Audio-Visual Theatres, Conference Halls and Auditorium, Well-equipped Hostels, Dining halls and Sports facilities.</li>
                                <li class="list-group-item">St. Joseph's Centre for Training and Placement offers a meticulously planned Placement training schedule starting from the First semester itself which helps us maintain remarkable placement records every year.</li>
                              </ul>
                        </div>
                        <div class="tab-pane" id="department">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">1   B.E. -  Computer Science and Engineering	     180</li>
                                <li class="list-group-item">2	B.E. -  Electronics & Communication Engineering	 180</li>
                                <li class="list-group-item">3	B.E. - Electrical & Electronics Engineering	     180</li> 
                                <li class="list-group-item">4	B.E. - Mechanical Engineering	                 180</li> 
                                <li class="list-group-item">5	B.Tech. - Information Technology	             120</li> 
                                <li class="list-group-item">6	B.E. - Civil Engineering	                     60</li> 
                                <li class="list-group-item">7	M.E. - Communication and Networking              18</li>
                              </ul>
                        </div>
                        <div class="tab-pane" id="events">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">4 thGraduation Day on 13thJuly 2019</li>
                                <li class="list-group-item">Indian Council of Medical Research(ICMR) funded four Days National Level Workshop on Engineering in Diabetology from 12th and 15thJune 2019</li>
                                <li class="list-group-item">Two days National workshop on Manufacturing Application of Micromachining for Automobile Components on 12th and 13thJune 2019</li> 
                                <li class="list-group-item">IEEE Sponsored Three Days National Level Workshop on "Design, Optimization and Analysis of Electrical Machines" on 8 May 2019 to 10 May 2019 .</li>
                                <li class="list-group-item">4th International Conference on Recent Trends in Engineering and Technology on 3rd & 4th May 2019. [http://icrtet2019.com]</li>
                                <li class="list-group-item">Three Days FDP on Embedded Systems with Machine Learning from 10th to 12th April 2019. [Registration Link] View more</li>
                                <li class="list-group-item">One day National Level Project Expo " PROTO STORM 2019" on 3rd April 2019</li>
                                <li class="list-group-item">Project Display Biggest Arena on 5th April 2019.</li>
                              </ul>
                        </div>
                      </div> 
                </mdb-card-body>
              </mdb-card>
        </div>           
    </div>
</div>








