.phone{
    width: 20px;
    height: 20px;
}
.mail{
    width: 25px;
    height: 20px;
}
.location{
    width: 25px;
    height: 20px;}
.home{
    width: 25px;
    height: 20px;
}
.icon{
    width: 16px;
    height: 16px;
}
.icon1{
    width: 20px;
    height: 20px;
}
.userimg{
    width: 130px;
    height: 130px;
}