<div class="container-fluid">
    <div class="container col-lg-12">
        <mdb-card>
            <mdb-card-header class="bg-dark text-center text-info"><img class="icon" src="../../assets/images/clock.png" alt=""> Quick Access</mdb-card-header>
          </mdb-card>
    </div>
        <div class="container col-lg-12">
            <br>
           <div class="row">
              <mdb-card class="col-lg-3 col-md-3 col-sm-2 col-xs-2 mx-auto">
                <div class="view overlay waves-light" mdbWavesEffect>
                     <br>
                     <img class="img resize mx-auto" src="../../assets/images/notes.png" alt="">
                     <br>
                </div>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>Notes</h4>
                  </mdb-card-title>
                  <hr>
                  <mdb-card-text>
                    Download your notes for exam preparation Quickly!
                  </mdb-card-text>
                  <a class="link-text">
                  <h5 class="waves-light" mdbWavesEffect>Go
                    <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
                  </h5>
                  </a>
                </mdb-card-body>
            </mdb-card>
            <mdb-card class="col-lg-3 col-md-3 col-sm-2 col-xs-2 mx-auto">
                <div class="view overlay waves-light" mdbWavesEffect>
                    <br>
                     <img class="img resize mx-auto" src="../../assets/images/marks.png">
                    <br>
                </div>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>Marks</h4>
                  </mdb-card-title>
                  <hr>
                  <mdb-card-text>
                    Know your marks Quickly!
                  </mdb-card-text>
                  <a class="link-text">
                  <h5 class="waves-light" mdbWavesEffect>Go!
                    <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
                  </h5>
                  </a>
                </mdb-card-body>
            </mdb-card>
            <mdb-card class="col-lg-3 col-md-3 col-sm-2 col-xs-2 mx-auto">
                <div class="view overlay waves-light" mdbWavesEffect>
                    <br>
                    <img class="img resize mx-auto" src="../../assets/images/schedule.png" alt="">
                    <br>
                </div>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>Important News</h4>
                  </mdb-card-title>
                  <hr>
                  <mdb-card-text>
                    Know the important dates and schedules Quickly!
                  </mdb-card-text>
                  <a class="link-text">
                  <h5 class="waves-light" mdbWavesEffect>Go
                    <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
                  </h5>
                  </a>
                </mdb-card-body>
            </mdb-card>
        </div>
             
    </div>
</div>
