<div class="container-fluid">
    <div class="container col-lg-12">
        <div class="container col-lg-12">
            <mdb-card>
                <mdb-card-header class="bg-dark text-center text-info"><img src="../../assets/images/users.png" alt=""> Profile</mdb-card-header>
                <mdb-card-body class="bg-light">
                    <div class=" mx-auto d-block">
                        <img class="resize  mx-auto d-block img-thumbnail" src="../../assets/images/userimg.png" alt="">    
                    </div>
                    <br>
                    <p class="text-center text-warning">Name Here!</p>
                    <button class="btn btn-warning mx-auto d-block">Click To More Details!</button>
                    <br>
                    <br>
                </mdb-card-body>
              </mdb-card>
        </div>         
    </div>
</div>