
<div class="container-fluid">
    <div class="container col-lg-12">
        <div class="container col-lg-12">
            <mdb-card>
                <mdb-card-header class="bg-dark text-center text-info"><img src="../../assets/images/alarm.png" alt=""> Notifications</mdb-card-header>
                <mdb-card-body class="bg-light custom-scrollbar-css" style="max-height: 340px">
                    <ul class="nav nav-tabs mx-auto">
                        <li class="active mx-auto"><a class="nav-link text-warning bg-dark text-center" href="#sms" data-toggle="tab"><img src="../../assets/images/sms.png" alt=""> SMS</a></li>
                        <li class="mx-auto"><a class="nav-link text-warning text-center bg-dark" href="#email" data-toggle="tab"><img class="icon" src="../../assets/images/gmail.png" alt=""> EMAIL</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="sms">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">4 thGraduation Day on 13thJuly 2019</li>
                                <li class="list-group-item">Indian Council of Medical Research(ICMR) funded four Days National Level Workshop on Engineering in Diabetology from 12th and 15thJune 2019</li>
                                <li class="list-group-item">Two days National workshop on Manufacturing Application of Micromachining for Automobile Components on 12th and 13thJune 2019</li>
                                <li class="list-group-item">Book Bank Circular</li>
                                <li class="list-group-item">Click here to view PG admission merit basis with fee waiver in the academic year 2019-2020</li>
                                <li class="list-group-item">Click here to view First year Orientation schedule and Important details.</li>
                                <li class="list-group-item">Click here to view 2018-19 Campus Placement.</li>
                              </ul>
                        </div>
                        <div class="tab-pane" id="email">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">DHR-ICMR Sponsored Four Days National Level Workshop on Engineering in Diabetology from 12th to 15th June 2019.</li>
                                <li class="list-group-item">IEEE Sponsored Three Days National Level Workshop on "Design, Optimization and Analysis of Electrical Machines" on 8 May 2019 to 10 May 2019 .</li>
                                <li class="list-group-item">4th International Conference on Recent Trends in Engineering and Technology on 3rd & 4th May 2019. [http://icrtet2019.com]</li>
                                <li class="list-group-item">Three Days FDP on Embedded Systems with Machine Learning from 10th to 12th April 2019. [Registration Link] View more</li>
                                <li class="list-group-item">One day National Level Project Expo " PROTO STORM 2019" on 3rd April 2019</li>
                                <li class="list-group-item">Project Display Biggest Arena on 5th April 2019.</li>
                                <li class="list-group-item">Three Days FDP on Embedded Systems with Machine Learning from 10th to 12th April 2019. [Registration Link]</li>
                            </ul>
                        </div>
                      </div>
                </mdb-card-body>
              </mdb-card>
        </div>
           
    </div>
</div>


