
.custom-scrollbar-css {
  overflow-y: scroll;
}
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}

